@model InventarioApp.Models.ProductsViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2 class="text-center">INVENTARIO ACTUAL </h2>
        <h4>Productos en existencia: <span class="small">@Model.CantTotalProductos  productos</span> </h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.product.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.product.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.product.Total)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.products)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
